**/*.db
**/*.tar
**/*.gz
**/*.dat
**/*.DAT
**/__init__*
**/*.pyc
**/*~
**/temp*
**/tmp*
**/*.temp
**/*.tmp
**/*.bkp
**/*.pdf
**/*.png
**/*.jpg
**/*.jpeg
**/*.eps
**/*.log
**/*.so
**/*.o
**/*.d
**/*.a
**/*.pcm
